* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background: #000;
  font-family: 'courier new', monospace;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

.tempo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: aliceblue;
}
 .iniciar, .pausar, .zerar {
  padding: 5px 20px;
  border-radius: 5px;
  border: 0;
  text-transform: uppercase;
 }

 .iniciar {
  background: rgb(82, 245, 6);
 }

 .pausar {
  background: rgb(232, 248, 7);
 }

 .zerar{
  background: rgb(248, 6, 6);
 }
