* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background: linear-gradient(#011d36dc, #024f97b6);
  font-family: 'courier new', monospace;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}


.tempo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: aliceblue;
}

 .iniciar, .pausar, .zerar {
  padding: 5px 20px;
  border-radius: 5px;
  border: 0;
  text-transform: uppercase;
  background: #03e9f4;
 }

div {
  position: absolute;
}


 button {
  margin-top: 100px;
  position: relative;
  display: flex;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
}

button:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

button:nth-child(2) {
  filter: hue-rotate(270deg);
}

button:nth-child(4) {
  filter: hue-rotate(110deg);
}
